* {
    font-family: 'Courier New', Courier, monospace;
}


.sidebar {
	width: 15%;
	height: 20%;
	padding: 20px;
	background-color: azure;
    position: fixed;
    box-shadow: 7px 10px 10px grey;
    
}


.sidebar ul {
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

.sidebar li a {
	display: block;
	color: #000000;
	padding: 8px 16px;
}

.sidebar li a:hover {
	background-color: #555;
	color: white;
}


li {
	color: white;
}

header {
	color: black;
	padding: 20px;
	text-align: center;
	background-color: azure;
    position: sticky;
    margin-top: 5px;
    top: 0;
    width: 1200px;
    margin-left: 400px;
    box-shadow: 7px 10px 10px grey;
}

.main-content {
	margin-left: 20%;
	padding: 20px;
}

body {
background-image:url(./Background.png);
background-size: 100% 70%;
}
p {
	color: white;
}

h2 {
	color: white;
}


